*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,0.4);
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: #fff;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: 0.5s;
}

nav ul li i{
    margin-left: 10px;
}

nav ul li a:hover, nav ul li a.active{
    color: #23dbdb;
}

nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
}

nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 70px;
    transition: 0.3s linear;
}

nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
}

nav ul ul li a{
    line-height: 50px;
}

nav ul ul li a i{
    margin-left: 45px;
}

nav ul ul ul{
    border-top: none;
}

nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}

section{
    background: url(../images/images-10.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

















